* {
  /* border: 1px solid black; */
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
}

.form-group {
  margin: 8px;
}

input,
select {
  border-radius: 8px;
  border: 1px solid black;
  padding: 4px;
}

input:focus,
select:focus {
  outline: none;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 8px 4px;
}

input:not(:focus):invalid {
  border: 1px solid red;
}
